<table class='table'>
  <tr><%= image_tag  customer.get_profile_image(120,120) %></tr>
  <tr>
    <th>名前</th>
    <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>自己紹介</th>
    <th><%= customer.introduction %></th>
  </tr>
  <tr>
  <th>コメント数</th>
    <th><%= customer.comments.count %>件</th>
  </tr>
  <tr>
    <th>フォロー数</th>
    <th class="followes-count ">
      <%= render "public/customers/following", customer: customer %>
    </th>
  </tr>
  <tr>
    <th>フォロワー数</th>
    <th class="followed-count"><%= render "public/customers/follower", customer: customer %></th>
  </tr>
</table>
<% if customer.id == current_customer.id %>
  <div class="text-center">
    <%= link_to "編集",  edit_customer_path(customer),class: "btn-primary btn " %>
  </div>
<% end %>