<div>
  <div class="row d-lg-flex justify-content-lg-center"><%= image_tag  customer.get_profile_image(120,120), class: "rounded" %></div>
  <div class="row border-top">
    <div class="col-5 p py-2">名前</div>
    <div class="col-7 p py-2"><%= customer.name %></div>
  </div>
  <div class="row border-top">
    <div class="col-5 p py-2">自己紹介</div>
    <div class="col-7 p py-2"><%= customer.introduction %></div>
  </div>
  <div class="row border-top">
    <div class="col-5 p pt-2">コメント数</div>
    <div class="col-7 p py-2 comment-count"><%= customer.comments.count %>件</div>
  </div>
  <div class="row border-top">
    <div class="col-5 p mx-0 p py-2">フォロー数</div>
    <div class="col-7 followes-count p py-2"><%= render "public/customers/following", customer: customer %></div>
  </div>
  <div class="row border-top">
    <div class="col-5 p py-2">フォロワー数</div>
    <div class="col-7 followed-count p py-2"><%= render "public/customers/follower", customer: customer %></div>
  </div>
  <div class="row border-top">
    <div class="col-5 p py-2">最推しキャラ</div>
    <div class="col-7 followed-count p py-2"><%= Customer.most_character(customer) %></div>
  </div>
</div>
<% if customer.id == current_customer.id %>
  <div class="text-center w-sm-100">
    <%= link_to "編集",  edit_customer_path(customer),class: "btn-primary btn h4" %>
  </div>
<% end %>