<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 mt-3'>
      <h3><% current_customer %></h3>
      <table class='table'>
        <tr><%= image_tag  current_customer.get_profile_image(120,120) %></tr>
        <tr>
          <th>名前</th>
          <th><%= current_customer.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= current_customer.introduction %></th>
        </tr>
        <tr>
          <th>コメント数</th>
          <th></th>
        </tr>
        <tr>
          <th>フォロー数</th>
          <th></th>
        </tr>
        <tr>
          <th>フォロワー数</th>
          <th></th>
        </tr>
      </table>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3 class="mt-3">ユーザー一覧</h3>
      <table class="table">
        <thead>
          <tr>
            <th>画像</th>
            <th>名前</th>
            <th>コメント数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= image_tag customer.get_profile_image(75,75) %></td>
              <td><%= link_to customer.name,customer_path(customer) %></td>
              <td><%#=  %></td>
              <td><%#=  %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>