<div class="row w-100">
  <div class="col-3 p">投稿者</div>
  <div class="col-9 p">推し活動</div>
</div>
<% comments.each do |comment| %>
  <div class="row w-100">
    <div class="col-3 mb-3 col-lg-3">
      <%= link_to comment.customer.name.truncate(13), customer_path(comment.customer.id, {follow: "followins"}), class: "text-info" %><br>
      <% if comment.character.name == "その他" %>
        <div class="h6">キャラ:<%= comment.character_name %></div>
      <% end %>
    </div>
    <div class="col-4 col-lg-5 mb-3"><%= comment.content %><div class="text-right ml-2"><%=  l comment.created_at, format: :short %></div></div>
    <div class="col-3 mb-3 col-lg-2">
      <div class="favorite_buttons_<%= comment.id %>">
        <%= render "public/favorites/favorite", customer: current_customer, comment: comment %>
      </div>
    </div>
    <div class="col-2 col-lg-2">
      <div class="destroy_btn_<%= comment.id %>">
        <% if comment.customer_id ==  current_customer.id %>
          <% if params[:rank]  %>
            <%= link_to "削除", character_comment_path(comment.character.id, comment.id, {rank: "desc"}),remote: true, method: :delete, data: { confirm: 'コメントを消しますか？' }, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "削除", character_comment_path(comment.character.id, comment.id),remote: true, method: :delete, data: { confirm: 'コメントを消しますか？' }, class: "btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>