<div class="container">
  <h3><%= @customer.name %>のフォロワー数</h3>
  <div class="row d-flex flex-wrap">
    <% @customers.each do |customer| %>
      <div class=" col-4 flex-wrap">
        <%= image_tag customer.get_profile_image(200, 200) %>
        <p class="text-left text-dark">名前:  <%= customer.name %></p>
        <p class="text-left text-dark">コメント数:  <%= customer.comments.count %>件</p>
        <%= link_to "詳細", customer_path(customer.id) %> |
        <%= render "public/relationships/btn", customer: customer %>
      </div>
    <% end %>
  </div>
</div>
