<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-lg-4 mt-3'>
      <h3>キャラクター詳細</h3>
      <%= render "public/characters/info", character: @character, comments: @comments %>
    </div>
    <div class='col-lg-7 offset-md-1'>
      <h3 class="mt-3">コメント一覧</h3>
      <%= link_to 'いいねランキング', character_path(@character, {rank: "desc"}) %>|
      <%= link_to "古いコメント順", character_path(@character) %>
      <div class="row" id="comment_list">
        <%= render "public/comments/comment_list", comments: @comments %>
      </div>
      <div class="comment_form">
        <%= render "public/comments/comment", comment: @comment, character: @character %>
      </div>
      <div class="row justify-content-center">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>
