<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4 mt-3'>
      <h3>キャラクター詳細</h3>
      <table class='table'>
        <tr><%= image_tag  @character.get_character_image(120,120) %></tr>
        <tr>
          <th>名前</th>
          <th><%= @character.name %></th>
        </tr>
        <tr>
          <th>挨拶</th>
          <th><%= @character.greeting %></th>
        </tr>
        <tr>
          <th>ジャンル</th>
          <th><%= @character.genre %></th>
        </tr>
        <tr>
          <th>画像引用先</th>
          <th><%= @character.reference_destination %></th>
        </tr>
        <tr>
          <th>コメント数</th>
          <th><%= @comments.count %>件</th>
        </tr>
      </table>
    </div>
    <div class='col-md-7 offset-md-1'>
      <h3 class="mt-3">コメント一覧</h3>
      <table class="table">
        <thead>
          <tr>
            <th>投稿者</th>
            <th>推し活動</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <th><%= comment.customer.name.truncate(13) %></th>
              <th><%= comment.content.truncate(10) %></th>
              <th class="favorite_buttons_<%= comment.id %>">
                <%= render "public/favorites/favorite", customer: current_customer, comment: comment %>
              </th>
              <th class="destroy_btn_<%= comment.id %>">
                <%= render "public/comments/destroy", comment: comment %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="comment_form_<%= @comment.id %>">
        <%= render "public/comments/comment", comment: @comment, character: @character %>
      </div>
    </div>
  </div>
</div>
