<div class="container">
  <div class="row">
    <h3>キャラクター一覧</h3>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>名前</th>
          <th>挨拶</th>
          <th>コメント数</th>
        </tr>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
          <tr>
            <td><%= character.id %></td>
            <td><%= link_to character.name,  admin_character_path(character) %></td>
            <td><%= character.greeting %></td>
            <th><%= character.comments.count %>件</th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row justify-content-center">
    <%= paginate @characters %>
    </div>
    </div>
    <div class="col-4 pt-5">
      <%= render "admin/genres/form", genre: @genre %>
      <div class="genre_list">
        <%= render "admin/genres/index", genres: @genres %>
      </div>
    </div>
  </div>
</div>