<div class="container">
  <div class="row pt-3">
    <h3>キャラクター一覧</h3>
    <%= link_to new_admin_character_path, class: "ml-5" do %>
        <div class="new-btn">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="my-4">
        <div class="row">
          <div class="col-2">id</div>
          <div class="col-4">名前</div>
          <div class="col-4">挨拶</div>
          <div class="col-2">コメ数</div>
        </div>
        <% @characters.each do |character| %>
          <div class="row border-top">
            <div class="col-2 py-2"><%= character.id %></div>
            <div class="col-4 py-2"><%= link_to character.name.truncate(13),  admin_character_path(character) %></div>
            <div class="col-4 py-2"><%= character.greeting %></div>
            <div class="col-2 py-2"><%= character.comments.count %>件</div>
          </div>
        <% end %>
      </div>

      <div class="row justify-content-center">
      <%= paginate @characters %>
      </div>
    </div>
    <div class="col-lg-3 py-5 offset-lg-1">
      <%= render "admin/genres/form", genre: @genre %>
      <div class="genre_list">
        <%= render "admin/genres/index", genres: @genres %>
      </div>
    </div>
  </div>
</div>