<div class="container">
  <div class="row pt-3">
    <div class="col-lg-12 mx-auto">
      <div class="row">
        <h3 class="col-11 mb-3">キャラクター一覧</h3>
        <%= link_to new_admin_character_path do %>
          <div class="new-btn">
            <i class="fa-solid fa-plus"></i>
          </div>
        <% end %>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>名前</th>
            <th>挨拶</th>
            <th>ジャンル</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @characters.each do |character| %>
            <tr>
              <td><%= character.id %></td>
              <td><%= link_to character.name,  admin_character_path(character), class: "text-info" %></td>
              <td><%= character.greeting %></td>
              <td><%= character.genre %></td>
              <th><%= character.comments.count %>件</th>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @characters, class: "text-center" %>
      </div>
    </div>
  </div>
</div>