<div class="container">
  <div class="row pt-3">
    <h3 class="col-lg-3 col-9 mb-0">キャラクター一覧</h3>
    <%= link_to new_admin_character_path, class: "text-decoration-none col-lg-1 col-3" do %>
      <div class="new-btn">
        <i class="fa-solid fa-otter new-aikon"></i>
        <i class="fas fa-plus"></i>
      </div>
  　<% end %>
  　<div class="col-lg-3 mb-4"><%= render "admin/searches/form", characters: @characters %></div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="my-4">
        <%= render "admin/characters/index", characters: @characters %>
      </div>
      <div class="row justify-content-center">
      <%= paginate @characters %>
      </div>
    </div>
    <div class="col-lg-3 py-5 offset-lg-1">
      <%= render "admin/genres/form", genre: @genre %>
      <div class="genre_list">
        <%= render "admin/genres/index", genres: @genres %>
      </div>
    </div>
  </div>
</div>