<!DOCTYPE html>
<html>
  <head>
    <title>OsiVCome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if customer_signed_in? %>
            <li class="nav-item active">
               <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "ユーザー一覧", root_path %>
            </li>
            <li class="nav-item active">
              <%= link_to"キャラクター一覧", root_path %>
            </li>
            <li class="nav-item active">
              <%= link_to "問い合わせ", root_path %>
            </li>
            <li class="nav-item active">
              <%= link_to "ユーザー編集",root_path %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item active">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "キャラクター一覧", root_path %>
            </li>
            <li class="nav-item active">
              <%= link_to "ユーザー一覧", root_path %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "ログイン", new_customer_session_path %>
            </li>
            <li class="nav-item active">
              <%= link_to "使用者ゲストログイン", guest_sign_in_path, method: :post %>
            </li>
            <li class="nav-item active">
              <%= link_to "管理者ゲストログイン", admin_guest_sign_in_path, method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
